{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content ">
	<div class="panel-header ">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
					<h5 class="text-white op-7 mb-2">Monitor de Sensores</h5>
				</div>
				<div class="ml-md-auto py-2 py-md-0">

				</div>
			</div>
		</div>
	</div>
	
	

	 
  


	{% endblock content %}

	<!-- Specific Page JS goes HERE  -->
	{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
	<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery -->
	<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI -->
	<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/static/assets/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/static/assets/js/demo.js"></script>
	<!-- FLOT CHARTS -->
	<script src="/static/assets/plugins/flot/jquery.flot.js"></script>
	<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
	<script src="/static/assets/plugins/flot-old/jquery.flot.resize.min.js"></script>
	<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
	<script src="/static/assets/plugins/flot-old/jquery.flot.pie.min.js"></script>

	<script>
		




	</script>

	{% endblock javascripts %}