{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content ">
	<div class="panel-header ">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
					<h5 class="text-white op-7 mb-2">Monitor de Sensores</h5>
				</div>
				<div class="ml-md-auto py-2 py-md-0">

				</div>
			</div>
		</div>
	</div>
	
	

	 
  <head>
    <title>Mapa Estático</title>
    <!-- Carga la API de Google Maps con la clave de API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO__T07L9DfYd6eIQ0omI21RA_nkxmchw"></script>
  </head>

<body>
    <div id="map" style="height: 400px; width: 600px;" ></div>
	<table class="display table table-striped table-hover">
        <thead>
            <tr>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Fecha/Hora</th>
            </tr>
        </thead>
        <tbody id="tabla-registros">
        </tbody>
    </table>
    <script>
        // Función para obtener y actualizar la ubicación
		var registros = [];
        function obtenerYActualizarUbicacion() {
            // Realizar una solicitud HTTP GET a la API de Blynk
            fetch('https://ny3.blynk.cloud/external/api/get?token=Yi-iDgJBhJEKYzx4vOOvU6DFjMi3runz&v4')
                .then(response => response.json())
                .then(data => {
                    // Obtener las coordenadas de latitud y longitud de la respuesta JSON
                    var latitud = data[1];
                    var longitud = data[0];
					
					var fechaHoraActual = new Date().toLocaleString("es-EC", { timeZone: "America/Guayaquil" });
					
					var horaFechaLegible = fechaHoraActual.toLocaleString();
					// Agregar el nuevo registro al principio del arreglo
                    registros.unshift({ latitud, longitud, horaFecha: horaFechaLegible });
					 // Limitar el arreglo a 3 registros
					registros = registros.slice(0, 5);

					// Mostrar los registros en la tabla
                    mostrarRegistrosEnTabla();
                    // Crear un mapa centrado en las coordenadas obtenidas

                    var mapOptions = {
                        center: { lat: latitud, lng: longitud },
                        zoom: 14 // Nivel de zoom
                    };

                    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    // Crear un marcador en la ubicación especificada
                    var marker = new google.maps.Marker({
                        position: { lat: latitud, lng: longitud },
                        map: map,
                        title: 'Ubicación Actualizada'
                    });
                })
                .catch(error => console.error('Error al obtener datos:', error));
        }
		function mostrarRegistrosEnTabla() {
            var tablaRegistros = document.getElementById('tabla-registros');
            tablaRegistros.innerHTML = ''; // Limpiar la tabla

            registros.forEach(registro => {
                var fila = document.createElement('tr');
                var columnaLatitud = document.createElement('td');
                columnaLatitud.textContent = registro.latitud;
                var columnaLongitud = document.createElement('td');
                columnaLongitud.textContent = registro.longitud;
                var columnaHoraFecha = document.createElement('td');
                columnaHoraFecha.textContent = registro.horaFecha;

                fila.appendChild(columnaLatitud);
                fila.appendChild(columnaLongitud);
                fila.appendChild(columnaHoraFecha);
                tablaRegistros.appendChild(fila);
            });
        }
        // Llamar a la función para obtener y actualizar la ubicación cada minuto (60000 milisegundos)
        setInterval(obtenerYActualizarUbicacion, 6000);

        // Llamar a la función inicialmente para mostrar la ubicación al cargar la página
        obtenerYActualizarUbicacion();
    </script>
</body>


	{% endblock content %}

	<!-- Specific Page JS goes HERE  -->
	{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
	<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery -->
	<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI -->
	<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/static/assets/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/static/assets/js/demo.js"></script>
	<!-- FLOT CHARTS -->
	<script src="/static/assets/plugins/flot/jquery.flot.js"></script>
	<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
	<script src="/static/assets/plugins/flot-old/jquery.flot.resize.min.js"></script>
	<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
	<script src="/static/assets/plugins/flot-old/jquery.flot.pie.min.js"></script>

	<script>
		




	</script>

	{% endblock javascripts %}